---
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogPostPreview from '../../components/BlogPostPreview.vue';
import { getPostsByYear } from '../../utils/collections';
import { htmlDateString, shortDate } from '../../utils/filters';
import { render } from 'astro:content';
import type { InferGetStaticPropsType } from 'astro';

export const getStaticPaths = async () => {
  const postsByYear = await getPostsByYear();
  return Object.keys(postsByYear).map(year => ({
    params: { year },
    props: { year, posts: postsByYear[year] },
  }));
};

type Props = InferGetStaticPropsType<typeof getStaticPaths>;
type YearPost = NonNullable<Props['posts']>[number];

const { year, posts = [] } = Astro.props;

const reversedPosts = [...posts].reverse();
const titledPosts = reversedPosts.filter(
  (post): post is YearPost & { data: YearPost['data'] & { title: string } } =>
    Boolean(post.data?.title)
);
const untitledPosts = reversedPosts.filter(post => !post.data?.title);

const headerHtml = `
  <div class="Breadcrumbs mb-12"><span>Archives</span></div>
  <h1 class="font-header color-accent mb-16">${year}</h1>
`;
---
<BaseLayout
  templateClass="Blog Blog--archive"
  header={headerHtml}
>
  <div class="flex flex-column" style="gap: 12px;">
    {titledPosts.map(post => (
      <BlogPostPreview
        title={post.data.title}
        date={post.date}
        permalink={post.permalink}
      />
    ))}
  </div>

  <div class="flex flex-column Blog__notes" style="gap: 64px;">
    {untitledPosts.map(async post => {
      const { Content } = await render(post);
      return (
        <article class="prose">
          <time datetime={htmlDateString(post.date)}>
            <a href={post.permalink} class="unstyled color-caption block">{shortDate(post.date)}</a>
          </time>
          <Content />
        </article>
      );
    })}
  </div>
</BaseLayout>
