---
import BaseLayout from '../layouts/BaseLayout.astro';
import Pagination from '../components/Pagination.vue';
import { getFeed, htmlDateString, readableDate, shortDate } from '../utils';
import { render } from 'astro:content';

export async function getStaticPaths() {
  const feed = await getFeed();
  const PAGE_SIZE = 40;
  const totalPages = Math.ceil(feed.length / PAGE_SIZE);

  const paths = [];
  for (let i = 2; i <= totalPages; i++) {
    paths.push({
      params: { page: String(i) },
      props: {
        posts: feed.slice((i - 1) * PAGE_SIZE, i * PAGE_SIZE),
        pageNumber: i,
        totalPages,
      },
    });
  }

  return paths;
}

const { posts, pageNumber, totalPages } = Astro.props;

const hasNextPage = pageNumber < totalPages;
const hasPrevPage = pageNumber > 1;
---
<BaseLayout templateClass="home">
  <section class="Blog Blog--featured">
    {posts.map(async post => {
      const { Content } = await render(post);
      return (
        <article class={`Article prose ${post.data.title ? 'Blog__article--longForm' : ''}`}>
          {post.data.title ? (
            <header>
              <div class="Breadcrumbs">
                <div>
                  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="inline">
                    <circle cx="12" cy="12" r="10"></circle>
                    <polyline points="12 6 12 12 16 14"></polyline>
                  </svg>
                  <time datetime={htmlDateString(post.data.date)}>{readableDate(post.data.date)}</time>
                </div>
              </div>
              <h1 class="font-header">
                <a href={post.data.permalink} class="unstyled">{post.data.title}</a>
              </h1>
            </header>
          ) : (
            <time datetime={htmlDateString(post.data.date)}>
              <a href={post.data.permalink} class="unstyled color-caption block">{shortDate(post.data.date)}</a>
            </time>
          )}
          <Content />
        </article>
      );
    })}
  </section>

  <Pagination
    olderHref={hasNextPage ? `/${pageNumber + 1}/` : undefined}
    newerHref={hasPrevPage ? (pageNumber === 2 ? '/' : `/${pageNumber - 1}/`) : undefined}
  />
</BaseLayout>
